<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>

    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>

    <h1>Vue Loops</h1>

    <div id="app">

        <label for="task">Enter to do task:</label>
        <input id="task" v-model="newTask">
        <button v-on:click="addTask">Add Task</button>

        <ul>
            <li v-for="task in taskList">{{ task }}</li>
        </ul>

    </div>

    <script>

        let app = Vue.createApp({

            data() {
                return {
                    newTask: '',
                    taskList: []
                }
            },

            methods: {
                addTask() {
                    this.taskList.push(this.newTask)
                    this.newTask = ''
                }
            }
        })

        /* Associate 'app' Vue instance with div with "app" id */
        app.mount('#app')

    </script>

</body>
</html>